.reveal h1 {
  font-size: 3em;  
}

.reveal h2 {
  font-size: 2em;  
}

.reveal .slide-logo {
  height: 60px !important;
  width: 60px !important;
  max-width: unset !important;
  max-height: unset !important;
}


.slide-background:first-child {
  background-color: #081539 !important;
}
